




<script>
	function jump(str){
		window.location.href = "https://search-coursera-by-ashish.herokuapp.com?looking_for=".concat(str);

	}
	function checkForEnterKey(){
        if (event.keyCode === 13) {
            event.preventDefault();
            document.getElementById("myBtn").click();
        }
    }
	</script>


<% if @crs.nil? %>
<p>No courses found</p>

<% else %>
<h1>Searching for - <%= @search_term %></h1>
	
	<form>
		<input type="text" id="str" onkeyup="checkForEnterKey(this.value)">
		<button type="button" id="myBtn" onclick="jump(str.value)">Search</button>

	</form>

<table border ='1'>
	<tr>
		<th>Image</th>
		<th>Name</th>
		<th>Description</th>
	</tr>
	<% @crs.each do |course| %>
	<tr class=<%= cycle('even','odd') %>>
		<td style><%= image_tag(course["photoUrl"],height: 200, width: 200) %></td>
		<td>
			Name:
			<div><%= course["name"] %></div>
			Slug:
			<div><%= course["slug"] %></div>
		</td>
		<td><%= course["description"] %></td>
	</tr>
	<% end %>
</table>
<% end %>